.nav {
  background-color: var(--neutral-900);
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 315px;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.brand {
  align-self: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--white);
}

.menuItem {
  text-transform: uppercase;
  width: 100%;
  background-color: var(--neutral-800);
}

.menuItemChildren {
  padding-left: 80px;
}

.menuItemParent {
  position: relative;
  margin-bottom: 10px;
}

.buttonBox {
  width: 100%;
}

.menuItemParent::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../../public/images/icons/arrow.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.active {
  background-color: var(--neutral-800);
}

.open.menuItemParent::after {
  transform: rotate(180deg) translateY(45%);
}

.buttonIcon {
  max-width: 20px;
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo {
  height: 90px;
  width: 120px;
  filter: invert(1);
  margin-bottom: 20px;
}
